/******* Theme Color *******/
.side-bar-btn:hover,
.navigation-list li a:hover,
h2,
.service:hover i,
.service:hover h3,
h4,
a:hover,
.rm-close:hover,
.rating-star li a,
strong a:hover,
.close-day span,
.text-primary,
.nav-list-inner li a:hover,
.inner-services:hover i,
.categories-list li a:hover,
.post-date,
.pagination .active a,
.pagination .active a:hover,
.pagination li a:hover,
.contact-column:hover span,
.contact-column:hover h3,
.testimonial-slide blockquote::before,
.service-detail-v3 h3 a,
.prallax-caption-v3 strong,
.price-v3,
.product-detail-v3 h3,
.Subtotal,
.navbar-header .side-bar-btn
{ color: #f6a0a5;} 
/******* Theme Backgroung Color *******/
.nav-split .icon-wrap:hover,
.reserve-your-table:hover h3::before,
.chef-img::before,
.rm-front .sm-btn,
.social-icons li a:hover,
.sm-btn:hover,
.full-width-btn:hover,
.cs-options ul li:hover,
.services-column .xs-btn,
.datepicker table tr td.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover,
.owl-dots .active,
.nav-list-inner li a:hover::before,
.inner-banner-heading h3:before,
.tg-counter h3::before,
.work-Hours-list .inner-services h3::before,
.work-Hours-list .inner-services:hover,
.product-figure .sm-btn,
.categories-list li:hover .badge,
.pagination .active a::before,
.pagination .pegination-arrows a:hover,
button:hover,
#comming-countdown li span::before,
#comming-countdown li:last-child,
.tg-filterbale-nav li a:hover,
.tg-filterbale-nav li .selected,
.service-detail-v3 h3::before,
.product-detail-v3 h3::before,
.shop-batch,
.stock-batch:hover,
.comment-list li:hover .sm-btn
{ background: #f6a0a5;}

/******* Theme Border Color *******/
.side-bar-btn:hover,
.registor-now .sm-btn,
.service:hover,
.rm-close:hover,
.social-icons li a:hover,
.form-control:focus,
#footer,
.services-column .xs-btn:hover,
.slick-dots .slick-active,
.inner-services:hover,
.blog-blockquote,
.contact-column:hover,
.tg-filterbale-nav li a:hover,
.product-figure-v2 .product-detail a,
.product-detail-v3 .sm-btn,
.cart-dropdown,
.navbar-header .side-bar-btn,
.comment-list li:hover
{ border-color: #f6a0a5;}