.rm-container{ width: 33%; height: 685px; width: 370px; margin: 0 auto; position: relative; -webkit-perspective: 1600px; perspective: 1600px; color: #2a323f;}

.rm-wrapper,
.rm-wrapper > div{ width: 100%; height: 100%; left: 0; top: 0; position: absolute; text-align: center;
-webkit-transform-style: preserve-3d; transform-style: preserve-3d;}

.rm-wrapper .rm-cover{ z-index: 100;
-webkit-transform-origin: 0% 50%; -webkit-transition-delay: 0.2s; transform-origin: 0% 50%; transition-delay: 0.2s;}

.rm-wrapper .rm-middle{ z-index: 50; box-shadow: 0 4px 10px rgba(0,0,0,0.7);}

.rm-wrapper .rm-right{ z-index: 60;
-webkit-transform-origin: 100% 50%; -webkit-transition-delay: 0s; transform-origin: 100% 50%; transition-delay: 0s;}

.rm-wrapper > div > div{ background: #eeedec; width: 100%; height: 100%; position: absolute; height: 100%; padding: 10px; text-align: center;}
.rm-front-content{ padding: 96px 0;  border: 1px solid #686868;}
.rm-container .rm-front,
.rm-container .rm-back { -webkit-backface-visibility: hidden; backface-visibility: hidden;}
.list-inner h3{ font-weight: bold;}
.rm-container .rm-back{ -webkit-transform: rotateY(-180deg); transform: rotateY(-180deg);}

.rm-overlay{ position: absolute; width: 100%; height: 100%; top: 0; left: 0; pointer-events: none;
background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.05)));
background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%);
background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%);
background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%);
background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%);}

.rm-middle .rm-overlay {
background: -moz-linear-gradient(left, rgba(0,0,0,0) 64%, rgba(0,0,0,0.05) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(64%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.05)));
background: -webkit-linear-gradient(left, rgba(0,0,0,0) 64%,rgba(0,0,0,0.05) 100%);
background: -o-linear-gradient(left, rgba(0,0,0,0) 64%,rgba(0,0,0,0.05) 100%);
background: -ms-linear-gradient(left, rgba(0,0,0,0) 64%,rgba(0,0,0,0.05) 100%);
background: linear-gradient(to right, rgba(0,0,0,0) 64%,rgba(0,0,0,0.05) 100%);}

.rm-info p{ line-height: 20px;}

.rm-content dl{ margin: 0;}
.rm-content dl dt,
.rm-content dl dd{ display: block; margin: 0;}

.rm-content dl dt{ font-weight: 500; text-transform: uppercase;}

.rm-content dl dd { font-size: 13px; padding: 4px 5px 15px; line-height: 15px; color: #333;}

.rm-order p{
	padding: 10px;
	background: rgba(213, 193, 154, 0.2);
	margin: 20px 0 0;
}

.rm-modal {
	position: absolute;
	z-index: 10000;
	width: 120%;
	margin-left: -10%;
	top: 50%;
	padding: 40px;
	background: #fff url(../images/white_paperboard.jpg);
	box-shadow: 
		inset 0 0 0 16px #fff, 
		inset 0 0 0 17px #e6b741, 
		inset 0 0 0 18px #fff, 
		inset 0 0 0 19px #e6b741, 
		inset 0 0 0 20px #fff, 
		inset 0 0 0 21px #e6b741,
		0 4px 20px rgba(0,0,0,0.4);
	opacity: 0;
	pointer-events: none;
	-webkit-transform: translateZ(1000px);
	transform: translateZ(1000px);
}

.rm-modal h5 {
	margin: 0;
	font-size: 20px;
	color: #686868;
	font-weight: bold;
}
.rm-modal{ margin: 0 0 20px;}
.rm-modal a{ color: #686868;}

.rm-modal .rm-thumb {
	width: 72px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	margin: 0 20px 0 0;

}



.rm-modal a {
	float: right;
	clear: both;
}

.rm-close{ position: absolute; top: 20px; right: 25px; height: 25px; width: 25px; text-align: center; line-height: 24px; 
border: 1px solid #686868; font-size: 10px; cursor: pointer; display: block; z-index: 100;}

.rm-close-modal {
	cursor: pointer;
	right: 21px;
	top: 21px;
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	background: #2a323f;
	color: white;
	text-align: center;
	line-height: 14px;
	font-size: 15px;
	font-family: Arial, sans-serif;
}


/* Transitions */

.rm-wrapper,
.rm-wrapper > div {
	-webkit-transition: all 0.6s ease-in-out, height 0s;
	transition: all 0.6s ease-in-out, height 0s;
}

.rm-modal {
	-webkit-transition: 
		-webkit-transform 0.6s ease-in-out,
		opacity 0.6s ease-in-out;
	transition: 
		transform 0.6s ease-in-out,
		opacity 0.6s ease-in-out;
}

.rm-close {
	-webkit-transition: all 0.1s ease-in-out 0s;
	transition: all 0.1s ease-in-out 0s;
}

.rm-container.rm-open .rm-close {
	-webkit-transition: all 0.3s ease-in-out 0.8s;
	transition: all 0.3s ease-in-out 0.8s;
	opacity: 1;
}

.rm-container.rm-open .rm-wrapper > div {
	box-shadow: 0 4px 5px -3px rgba(0,0,0,0.6);
}

.rm-container.rm-open .rm-cover {
	-webkit-transform: rotateY(-180deg);
	-webkit-transition-delay: 0s;
	transform: rotateY(-180deg);
	transition-delay: 0s;
}

.rm-container.rm-open .rm-middle,
.rm-container.rm-open .rm-right {
	pointer-events: auto;
}

.rm-container.rm-open .rm-right {
	-webkit-transform: rotateY(180deg);
	-webkit-transition-delay: 0.2s;
	transform: rotateY(180deg);
	transition-delay: 0.2s;
}

.rm-container.rm-in .rm-cover {
	-webkit-transform: rotateY(-150deg);
	transform: rotateY(-150deg);
}

.rm-container.rm-in .rm-right {
	-webkit-transform: rotateY(150deg);
	transform: rotateY(150deg);
}

.rm-container.rm-in .rm-wrapper {
	-webkit-transform: translateZ(-500px);
	transform: translateZ(-500px);
}

.rm-container.rm-in .rm-cover, 
.rm-container.rm-in .rm-right,
.rm-container.rm-nodelay .rm-right {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.rm-container.rm-in .rm-modal {
	-webkit-transform: translateZ(0px);
	transform: translateZ(0px);
	opacity: 1;
	pointer-events: auto;
}

/* Fallback (similar to last media query) */

.no-csstransforms3d .rm-container {
	width: 100%;
	height: auto;
	max-width: 460px;
}
.no-csstransforms3d .rm-wrapper, 
.no-csstransforms3d .rm-wrapper > div,
.no-csstransforms3d .rm-wrapper > div > div {
	position: relative;
	width: 100%;
	height: auto;
}

.no-csstransforms3d .rm-wrapper > div > div{
	margin-bottom: 10px;
	box-shadow: 
		inset 0 0 0 16px #fff, 
		inset 0 0 0 17px #e6b741, 
		inset 0 0 0 18px #fff, 
		inset 0 0 0 19px #e6b741, 
		inset 0 0 0 20px #fff, 
		inset 0 0 0 21px #e6b741,
		0 3px 5px rgba(0,0,0,0.2);
}

.no-csstransforms3d .rm-container .rm-back {
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.no-csstransforms3d .rm-overlay, 
.no-csstransforms3d .rm-middle .rm-overlay {
	display: none;
}

.no-csstransforms3d .rm-right .rm-front {
	display: none;
}


.no-csstransforms3d .rm-button-open:after {
	content: '\2193';
}

.no-csstransforms3d .rm-modal {
	position: fixed;
	width: 80%;
	top: 50%;
	left: 50%;
	margin: 0 0 0 -40%;
	-webkit-transition: opacity 0.6s ease-in-out 0s;
	transition: opacity 0.6s ease-in-out 0s;
}

.no-csstransforms3d .rm-container.rm-in .rm-cover,
.no-csstransforms3d .rm-container.rm-in .rm-right,
.no-csstransforms3d .rm-container.rm-in .rm-wrapper {
	-webkit-transform: rotateY(0deg);
	-webkit-transition-delay: 0s;
	transform: rotateY(0deg);
	transition-delay: 0s;
}

/* Media Queries */

@media screen and (max-width: 960px) {
	.rm-container {
		width: 100%;
		height: auto;
		max-width: 460px;
		-webkit-perspective: 0px;
		perspective: 0px;
	}
	.rm-wrapper, 
	.rm-wrapper > div,
	.rm-wrapper > div > div {
		position: relative;
		width: 100%;
		height: auto;
	}

	.rm-wrapper > div > div{
		margin-bottom: 10px;
	}

	.rm-container .rm-back,
	.rm-container.rm-open .rm-cover,
	.rm-container.rm-open .rm-right {
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}

	.rm-overlay, .rm-middle .rm-overlay {
		background: transparent;
	}

	.rm-right .rm-front,
	.rm-close {
		display: none;
	}

	.rm-button-open:after {
		content: '\2193';
	}

	.rm-container .rm-modal {
		position: fixed;
		width: 80%;
		top: 50%;
		left: 50%;
		margin: 0 0 0 -40%;
		-webkit-transform: translateZ(0px);
		transform: translateZ(0px);
		-webkit-transition: opacity 0.6s ease-in-out 0s;
		transition: opacity 0.6s ease-in-out 0s;
	}

	.rm-container.rm-in .rm-cover,
	.rm-container.rm-in .rm-right,
	.rm-container.rm-in .rm-wrapper {
		-webkit-transform: rotateY(0deg);
		-webkit-transition-delay: 0s;
		transform: rotateY(0deg);
		transition-delay: 0s;
	}
}
